<%= form_with(model: [@project, property]) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :label %>
    <%= form.text_field :label, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :en %>
    <%= form.text_area :en, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :fa %>
    <%= form.text_area :fa, :class => "form-control fa-content" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', :class => "btn btn-primary" %>
  </div>
<% end %>
